.sa{
    background: tomato;
    margin-left: 10px;
}

.nav{
    display: flex;
    align-items: center;
    gap:44px;
    color:#424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head{
    display: flex;
    justify-content: space-between;
}

nav li{
    list-style: none;
}
.header-title{
    display: flex;
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-weight: 800;
}
.header{
    display: flex;
    gap:20px;
}

header, main{
    max-width: 1170px;
    margin-left: 135px;
    margin-right: 127px;
}

.header-1-title{
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;



}
.header-1-des{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.header-photo{
    background-image: url('image/photo_2024-01-15_18-09-45.jpg');
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 100px;
    border-radius: 16px;
    margin-left: 30px;

}
.header-button{
    text-align: center;
}

.in{
    width: 174px;
    height: 69px;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 30px;
    text-align: center;
    background: #FFF;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
   
}
.in1{
    height: 68px;
    width: 150px;
    text-align: center;
}

.btn{
    width: 174px;
    height: 69px;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    border: 0px;
}
.body{
    display: flex;
    gap:50px;
}
.body-1-des{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.body-3-grid-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    border-radius: 16px;
}

.inn{
    text-align: center;
    display: inline-flex;
    align-items: flex-start;
    padding-left: 20px;
    padding: 30px;
    gap: 24px;
}

.body-3-grid-2{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 300px 400px 370px;
}
.body-3-grid-3{
    margin-top: 10px;
    gap:10px;
}
.body-3-1{
    text-align: center;
}

.body-3-1-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.body-3-1-des{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-left: 250px;
}
.card{
    width: 443px;
    height: 160px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 60px;
}

.card-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}
.card-des{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.booking{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#card-1{
    margin-top: 20px;
    margin-left: 24px;
}
.card-12{
    margin-left: 250px;
}
.body-5{
    background-image: url('image/photo_2024-01-15_18-09-51.jpg');
    width:1170px;
    height:500px;
    margin-left: 35px;
    position: relative;
    
}
.body-6{
    background-image: url('image/photo_2024-01-15_18-09-55.jpg');
    width:1170px;
    height:500px;
    margin-left: 35px;
    margin-top: 10px;
    position: relative;
}
.body-7{
    background-image: url('image/photo_2024-01-15_18-09-51.jpg');
    width:1170px;
    height:500px;
    margin-left: 35px;
    margin-top: 10px;
    position: relative;
    
}
.card-a, .card-b, .card-c{
    width: 500px;
    height: 200px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 30px;
    margin-top: 5px;
}
.icon-title{
    padding:5px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.card-a, .card-c{
    margin-left: 500px;
    text-align: center;
}
.card-b{
    margin-left: 100px;
    padding-top: 20px;
}
.ab{
    position: absolute;
    top:30px;
}
.bc{
    position: absolute;
    top:30px;
}
.cd{
    position: absolute;
    top:30px;
}
#bt-1{
    text-align: center;
    margin-left: 550px;
    margin-top: 20px;
}
.video{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.abcc{
    height:350px;
    width: 450px;
}
.check, #btn-3{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05); 
    padding-left: 10px;
}
#btn-3{
   padding-left: 20px;
   width: 410px;
   background: tomato;
}
.img-5{
    margin-top: 10px;
}
.pos{
    background: tomato;
    width: 300px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 5px;
    color: white;
    position: relative;
    bottom: 220px;
    left: 320px;
    transform: rotate(-30deg);
}
.box{
    display: flex;
    justify-content: space-between;
}
.foot{
    margin-left: 680px;
}
.f5{
    text-align: center;
    margin-left: 80px;
}
.foot2{
    margin-left: 720px;
}
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 50px;
}
.last{
    text-align: center;
    margin-left: 80px;
}
/* media query */
@media  screen and (max-width:600px){
    .head{
        display: block;
        text-align: center;
        max-width: 350px;
        height: 483px;
    }
    .nav{
        flex-direction: column;
        margin-top: 10px;
    }
    .header-photo{
        padding-top: 0px;
    }
    .header-1-title{
        margin-bottom: 5px;
        margin-top: 300px;
        padding-top: 40px;
        font-size: 30px;
        width: 205px;
        height:28px
    }
    .header-1-des{
        width: 215px;
        margin-top: 40px;
    }
    .header-button{
        width: 255px;
        height: 52px;
    }
    .in{
        width: 126;
        height:26px
        text-align: center;
        padding-top: 10px;
        
    }
    .in1{
        width:126px;
        height:25px;
        margin-left: 10px;
        padding:13px;
    }
    .btn{
        width: 96px;
        height: 25px;
        margin-top: 10px;
    }
    .header-button{
        margin-top:10px
    }
    .body{
        flex-direction: column;
    }
    .body-1-des{
        width: 335px;
    }
    .img-2{
        width: 335px;
        height: 342px;
        border-radius: 16px;
    }
    .inn{
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    .body-3-grid-1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:10px;
        border-radius: 16px;
    }
    .img-4{
        width: 200px;
        height: 200px;
    }
    .body-3-grid-2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        
    }
    .body-3-grid-1, .booking{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .body-3-1-des,.video-des{
        margin-left:-62px;
        width: 335px;
    }
    .body-3-1-title,.video-title{
        margin-left: -110px;
        font-size: px;
    }
    .card{
        width: 335px;
        margin-top: 40px;
        padding: 9px;
    }
    .booking{
        margin-left: -60px;
    }
    .card-12{
        margin-left: -85px;
    }
    .body-5,.body-6,.body-7{
        width: 409px;
        height: 288px;
        margin-left: -63px;
    }
    .card-a,.card-c{
        margin-left: 7px;
        width: 324px;
        height: 180px;
    }
    .card-b{
        margin-left: 20px;
        width: 324px;
        height: 180px;
        margin-left: 7px;
    }
    .btn{
        width:97px;
        height: 48px;
    }
    #bt-1{
        margin-left: 67px;
        margin-top: 6px;
    }
    .video{
        flex-direction: column;
    }
    .video-title{
        width: 268px;
        margin-left: -28px;
    }
    .img{
        margin-left: -40px;
        width: 366px;
        height: 301px;
    }
    .pos{
        width: 225px;
        bottom:191px;
        left: 62px;
    }
    .box{
        flex-direction: column;
    }
    .check, #btn-3{
        width: 221px;
        height: 52px;
    }
    .abcc{
        height: 276px;
        width: 339px;
        margin-left: -75px;
    }
    .img-6{
        margin-left:-40px;
        width: 366px;
        height: 301px;
    }
    .foot{
        margin-left: 206px;
    }
    .foot2{
        margin-left: 245px;
    }
}